html {
  font-family: sans-serif;
}
table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5pt;
}
caption {
  background-color: darkseagreen;
  padding: 1em;
}

#today {
  background-color: lightskyblue;
  color: white;
}

th {
  font-weight: lighter;
  font-size: smaller;
  background-color: lightgrey;
}

td { 
  background-color: lightgrey;
  padding: 5pt;
}
