html {
  font-family: sans-serif;
}
table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5pt;
}
caption {
  background-color: darkseagreen;
  padding: 0.8em;
  font-weight: bold;
}

#today {
  background-color: lightskyblue;
  color: white;
}

th {
  font-weight: lighter;
  font-size: 15px;
  background-color: whitesmoke;
}

td { 
  background-color: whitesmoke;
  text-align: center;
  padding: 5pt;
}

tbody td:hover {
 background-color: darkred; 
}

form {
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5pt;
  padding: 5px;
}
